body { 
  margin:10px; padding:10;
}
        
.background {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
}

#map {
  z-index: -2;
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
}

.hover {
  height: 75px;
  width: 300px;
  background: rgba(200, 35, 100, 0.85);
  padding: 0px 10px 10px;
  width: 300px;
  background: #E8E27hE;
  position: absolute;
  font-family: "Helvetica Neue", san-serif;
  font-size: 0.8rem;
}

.form {
  margin: 10px;
  padding: 30px 40px 10px;
  color: #000001;
  background-color:rgba(200, 35, 100, 0.85);
}
@media (min-width: 100px) {
  .form {
    max-width: 30%;
  }
}

.input-range {
  margin-bottom: 30px;
  left-margin: 10px;
}